$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #a6d189;
$secondary_paletteKeyColor: #a6d189;
$tertiary_paletteKeyColor: #a6d189;
$neutral_paletteKeyColor: #a6d189;
$neutral_variant_paletteKeyColor: #303446;
$background: #292c3c;
$onBackground: #c6d0f5;
$surface: #292c3c;
$surfaceDim: #161928;
$surfaceBright: #414559;
$surfaceContainerLowest: #232634;
$surfaceContainerLow: #303446;
$surfaceContainer: #292c3c;
$surfaceContainerHigh: #292c3c;
$surfaceContainerHighest: #626880;
$onSurface: #c6d0f5;
$surfaceVariant: #303446;
$onSurfaceVariant: #c6d0f5;
$inverseSurface: #eff1f5;
$inverseOnSurface: #4c4f69;
$outline: #c6d0f5;
$outlineVariant: #a6d189;
$shadow: #000000;
$scrim: #232634;
$surfaceTint: #414559;
$primary: #a6d189;
$onPrimary: #232634;
$primaryContainer: #a6d189;
$onPrimaryContainer: #232634;
$inversePrimary: #40a02b;
$secondary: #a6d189;
$onSecondary: #232634;
$secondaryContainer: #292c3c;
$onSecondaryContainer: #a6d189;
$tertiary: #a6d189;
$onTertiary: #232634;
$tertiaryContainer: #303446;
$onTertiaryContainer: #c6d0f5;
$error: #e78284;
$onError: #232634;
$errorContainer: #ea585d;
$onErrorContainer: #232634;
$primaryFixed: #a6d189;
$primaryFixedDim: #90d062;
$onPrimaryFixed: #232634;
$onPrimaryFixedVariant: #232634;
$secondaryFixed: #a6d189;
$secondaryFixedDim: #90d062;
$onSecondaryFixed: #232634;
$onSecondaryFixedVariant: #232634;
$tertiaryFixed: #a6d189;
$tertiaryFixedDim: #90d062;
$onTertiaryFixed: #232634;
$onTertiaryFixedVariant: #232634;
$success: #a6d189;
$onSuccess: #232634;
$successContainer: #303446;
$onSuccessContainer: #c6d0f5;
