$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #99d1db;
$secondary_paletteKeyColor: #99d1db;
$tertiary_paletteKeyColor: #99d1db;
$neutral_paletteKeyColor: #99d1db;
$neutral_variant_paletteKeyColor: #303446;
$background: #292c3c;
$onBackground: #c6d0f5;
$surface: #292c3c;
$surfaceDim: #161928;
$surfaceBright: #414559;
$surfaceContainerLowest: #232634;
$surfaceContainerLow: #303446;
$surfaceContainer: #292c3c;
$surfaceContainerHigh: #292c3c;
$surfaceContainerHighest: #626880;
$onSurface: #c6d0f5;
$surfaceVariant: #303446;
$onSurfaceVariant: #c6d0f5;
$inverseSurface: #eff1f5;
$inverseOnSurface: #4c4f69;
$outline: #c6d0f5;
$outlineVariant: #99d1db;
$shadow: #000000;
$scrim: #232634;
$surfaceTint: #414559;
$primary: #99d1db;
$onPrimary: #232634;
$primaryContainer: #99d1db;
$onPrimaryContainer: #232634;
$inversePrimary: #04a5e5;
$secondary: #99d1db;
$onSecondary: #232634;
$secondaryContainer: #292c3c;
$onSecondaryContainer: #99d1db;
$tertiary: #99d1db;
$onTertiary: #232634;
$tertiaryContainer: #303446;
$onTertiaryContainer: #c6d0f5;
$error: #e78284;
$onError: #232634;
$errorContainer: #ea585d;
$onErrorContainer: #232634;
$primaryFixed: #99d1db;
$primaryFixedDim: #72ccda;
$onPrimaryFixed: #232634;
$onPrimaryFixedVariant: #232634;
$secondaryFixed: #99d1db;
$secondaryFixedDim: #72ccda;
$onSecondaryFixed: #232634;
$onSecondaryFixedVariant: #232634;
$tertiaryFixed: #99d1db;
$tertiaryFixedDim: #72ccda;
$onTertiaryFixed: #232634;
$onTertiaryFixedVariant: #232634;
$success: #a6d189;
$onSuccess: #232634;
$successContainer: #303446;
$onSuccessContainer: #c6d0f5;
