$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #e5c890;
$secondary_paletteKeyColor: #e5c890;
$tertiary_paletteKeyColor: #e5c890;
$neutral_paletteKeyColor: #e5c890;
$neutral_variant_paletteKeyColor: #303446;
$background: #292c3c;
$onBackground: #c6d0f5;
$surface: #292c3c;
$surfaceDim: #161928;
$surfaceBright: #414559;
$surfaceContainerLowest: #232634;
$surfaceContainerLow: #303446;
$surfaceContainer: #292c3c;
$surfaceContainerHigh: #292c3c;
$surfaceContainerHighest: #626880;
$onSurface: #c6d0f5;
$surfaceVariant: #303446;
$onSurfaceVariant: #c6d0f5;
$inverseSurface: #eff1f5;
$inverseOnSurface: #4c4f69;
$outline: #c6d0f5;
$outlineVariant: #e5c890;
$shadow: #000000;
$scrim: #232634;
$surfaceTint: #414559;
$primary: #e5c890;
$onPrimary: #232634;
$primaryContainer: #e5c890;
$onPrimaryContainer: #232634;
$inversePrimary: #df8e1d;
$secondary: #e5c890;
$onSecondary: #232634;
$secondaryContainer: #292c3c;
$onSecondaryContainer: #e5c890;
$tertiary: #e5c890;
$onTertiary: #232634;
$tertiaryContainer: #303446;
$onTertiaryContainer: #c6d0f5;
$error: #e78284;
$onError: #232634;
$errorContainer: #ea585d;
$onErrorContainer: #232634;
$primaryFixed: #e5c890;
$primaryFixedDim: #e6ba68;
$onPrimaryFixed: #232634;
$onPrimaryFixedVariant: #232634;
$secondaryFixed: #e5c890;
$secondaryFixedDim: #e6ba68;
$onSecondaryFixed: #232634;
$onSecondaryFixedVariant: #232634;
$tertiaryFixed: #e5c890;
$tertiaryFixedDim: #e6ba68;
$onTertiaryFixed: #232634;
$onTertiaryFixedVariant: #232634;
$success: #a6d189;
$onSuccess: #232634;
$successContainer: #303446;
$onSuccessContainer: #c6d0f5;
