$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #ea76cb;
$secondary_paletteKeyColor: #ea76cb;
$tertiary_paletteKeyColor: #ea76cb;
$neutral_paletteKeyColor: #ea76cb;
$neutral_variant_paletteKeyColor: #eff1f5;
$background: #e6e9ef;
$onBackground: #4c4f69;
$surface: #e6e9ef;
$surfaceDim: #cad3e4;
$surfaceBright: #ccd0da;
$surfaceContainerLowest: #dce0e8;
$surfaceContainerLow: #eff1f5;
$surfaceContainer: #e6e9ef;
$surfaceContainerHigh: #e6e9ef;
$surfaceContainerHighest: #acb0be;
$onSurface: #4c4f69;
$surfaceVariant: #eff1f5;
$onSurfaceVariant: #4c4f69;
$inverseSurface: #1e1e2e;
$inverseOnSurface: #cdd6f4;
$outline: #4c4f69;
$outlineVariant: #ea76cb;
$shadow: #000000;
$scrim: #dce0e8;
$surfaceTint: #ccd0da;
$primary: #ea76cb;
$onPrimary: #dce0e8;
$primaryContainer: #ea76cb;
$onPrimaryContainer: #dce0e8;
$inversePrimary: #f5c2e7;
$secondary: #ea76cb;
$onSecondary: #dce0e8;
$secondaryContainer: #e6e9ef;
$onSecondaryContainer: #ea76cb;
$tertiary: #ea76cb;
$onTertiary: #dce0e8;
$tertiaryContainer: #eff1f5;
$onTertiaryContainer: #4c4f69;
$error: #d20f39;
$onError: #dce0e8;
$errorContainer: #b7032d;
$onErrorContainer: #dce0e8;
$primaryFixed: #ea76cb;
$primaryFixedDim: #ef49c5;
$onPrimaryFixed: #dce0e8;
$onPrimaryFixedVariant: #dce0e8;
$secondaryFixed: #ea76cb;
$secondaryFixedDim: #ef49c5;
$onSecondaryFixed: #dce0e8;
$onSecondaryFixedVariant: #dce0e8;
$tertiaryFixed: #ea76cb;
$tertiaryFixedDim: #ef49c5;
$onTertiaryFixed: #dce0e8;
$onTertiaryFixedVariant: #dce0e8;
$success: #40a02b;
$onSuccess: #dce0e8;
$successContainer: #eff1f5;
$onSuccessContainer: #4c4f69;
