$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #8839ef;
$secondary_paletteKeyColor: #8839ef;
$tertiary_paletteKeyColor: #8839ef;
$neutral_paletteKeyColor: #8839ef;
$neutral_variant_paletteKeyColor: #eff1f5;
$background: #e6e9ef;
$onBackground: #4c4f69;
$surface: #e6e9ef;
$surfaceDim: #cad3e4;
$surfaceBright: #ccd0da;
$surfaceContainerLowest: #dce0e8;
$surfaceContainerLow: #eff1f5;
$surfaceContainer: #e6e9ef;
$surfaceContainerHigh: #e6e9ef;
$surfaceContainerHighest: #acb0be;
$onSurface: #4c4f69;
$surfaceVariant: #eff1f5;
$onSurfaceVariant: #4c4f69;
$inverseSurface: #1e1e2e;
$inverseOnSurface: #cdd6f4;
$outline: #4c4f69;
$outlineVariant: #8839ef;
$shadow: #000000;
$scrim: #dce0e8;
$surfaceTint: #ccd0da;
$primary: #8839ef;
$onPrimary: #dce0e8;
$primaryContainer: #8839ef;
$onPrimaryContainer: #dce0e8;
$inversePrimary: #cba6f7;
$secondary: #8839ef;
$onSecondary: #dce0e8;
$secondaryContainer: #e6e9ef;
$onSecondaryContainer: #8839ef;
$tertiary: #8839ef;
$onTertiary: #dce0e8;
$tertiaryContainer: #eff1f5;
$onTertiaryContainer: #4c4f69;
$error: #d20f39;
$onError: #dce0e8;
$errorContainer: #b7032d;
$onErrorContainer: #dce0e8;
$primaryFixed: #8839ef;
$primaryFixedDim: #6c07f9;
$onPrimaryFixed: #dce0e8;
$onPrimaryFixedVariant: #dce0e8;
$secondaryFixed: #8839ef;
$secondaryFixedDim: #6c07f9;
$onSecondaryFixed: #dce0e8;
$onSecondaryFixedVariant: #dce0e8;
$tertiaryFixed: #8839ef;
$tertiaryFixedDim: #6c07f9;
$onTertiaryFixed: #dce0e8;
$onTertiaryFixedVariant: #dce0e8;
$success: #40a02b;
$onSuccess: #dce0e8;
$successContainer: #eff1f5;
$onSuccessContainer: #4c4f69;
