$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #fab387;
$secondary_paletteKeyColor: #fab387;
$tertiary_paletteKeyColor: #fab387;
$neutral_paletteKeyColor: #fab387;
$neutral_variant_paletteKeyColor: #1e1e2e;
$background: #181825;
$onBackground: #cdd6f4;
$surface: #181825;
$surfaceDim: #08080e;
$surfaceBright: #313244;
$surfaceContainerLowest: #11111b;
$surfaceContainerLow: #1e1e2e;
$surfaceContainer: #181825;
$surfaceContainerHigh: #181825;
$surfaceContainerHighest: #585b70;
$onSurface: #cdd6f4;
$surfaceVariant: #1e1e2e;
$onSurfaceVariant: #cdd6f4;
$inverseSurface: #eff1f5;
$inverseOnSurface: #4c4f69;
$outline: #cdd6f4;
$outlineVariant: #fab387;
$shadow: #000000;
$scrim: #11111b;
$surfaceTint: #313244;
$primary: #fab387;
$onPrimary: #11111b;
$primaryContainer: #fab387;
$onPrimaryContainer: #11111b;
$inversePrimary: #fe640b;
$secondary: #fab387;
$onSecondary: #11111b;
$secondaryContainer: #181825;
$onSecondaryContainer: #fab387;
$tertiary: #fab387;
$onTertiary: #11111b;
$tertiaryContainer: #1e1e2e;
$onTertiaryContainer: #cdd6f4;
$error: #f38ba8;
$onError: #11111b;
$errorContainer: #f85e8c;
$onErrorContainer: #11111b;
$primaryFixed: #fab387;
$primaryFixedDim: #ff975b;
$onPrimaryFixed: #11111b;
$onPrimaryFixedVariant: #11111b;
$secondaryFixed: #fab387;
$secondaryFixedDim: #ff975b;
$onSecondaryFixed: #11111b;
$onSecondaryFixedVariant: #11111b;
$tertiaryFixed: #fab387;
$tertiaryFixedDim: #ff975b;
$onTertiaryFixed: #11111b;
$onTertiaryFixedVariant: #11111b;
$success: #a6e3a1;
$onSuccess: #11111b;
$successContainer: #1e1e2e;
$onSuccessContainer: #cdd6f4;
